@charset "UTF-8";

.container{
    position: relative;
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: 500px;;
	border-bottom: 1px solid #ccc;
	margin-bottom: .500px;
}

table{
    position: absolute;
	width: 100%;
	margin-bottom : 500px;
    table-layout: fixed;
    margin: 500px auto;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}